


/* Rectangle 1 */

position: absolute;
width: 1326px;
height: 786px;
left: 55px;
top: 184px;

background: #E8E9D2;
border-radius: 20px;

/* Rectangle 2 */

position: absolute;
width: 311px;
height: 100px;
left: 726px;
top: 42px;

background: #E8E9D2;
border-radius: 20px;